.cell {
    text-align: center;
    font-size: 7vh;
    width: 9vh;
    height: 9vh;
    border: 0px;
    padding: 0px;
    outline: 1px solid gray;
}
.cell:focus {
    background-color: yellow;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    left: 10px;
    top: 10px;
    position: absolute;
}
.square3 {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    outline: 4px solid darkgoldenrod;
}